<h3>Editar Corporación
   <small>Modificar corporación</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
  <div class="panel-heading">Datos de corporación</div>
   <div class="panel-body">

      <%= render 'form', corporation: @corporation %>



  </div>
</div>
</div>
