<h3>Nueva Corporacion
   <small>Agregar nueva corporacion</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
  <div class="panel-heading">Datos de corporacion</div>
   <div class="panel-body">
     <fieldset>
       <div class="form-group">
          <%= render 'form', corporation: @corporation %>

      </div>
    </fieldset>
  </div>
</div>
</div>
