
<h3>Editar Asignacion de Departamento
   <small>Modificar asignación</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
  <div class="panel-heading">Datos de la asignación/div>
   <div class="panel-body">

      <%= render 'form', users_role: @users_role %>



  </div>
</div>
</div>
