<h3>Nueva asignación de Departamento Usuario
   <small>Agregar nueva asignación</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
  <div class="panel-heading">Datos de la asignación</div>
   <div class="panel-body">
     <fieldset>
       <div class="form-group">
          <%= render 'form', asign_departament_user: @asign_departament_user %>

      </div>
    </fieldset>
  </div>
</div>
</div>
