<h3>Editar Departamento
   <small>Modificar departamento</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
  <div class="panel-heading">Datos del departamento</div>
   <div class="panel-body">

      <%= render 'form', departament: @departament %>



  </div>
</div>
</div>
