<h3>Nuevo departamento
   <small>Agregar nuevo departamento</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
  <div class="panel-heading">Datos del departamento</div>
   <div class="panel-body">
     <fieldset>
       <div class="form-group">
          <%= render 'form', departament: @departament %>

      </div>
    </fieldset>
  </div>
</div>
</div>
