<h1>Editing Asign Team User Category</h1>

<%= render 'form', asign_team_user_category: @asign_team_user_category %>

<%= link_to 'Show', @asign_team_user_category %> |
<%= link_to 'Back', asign_team_user_categories_path %>
