<h1>Editing Asignar Departamento Usuario</h1>

<%= render 'form', asignar_departamento_usuario: @asignar_departamento_usuario %>

<%= link_to 'Show', @asignar_departamento_usuario %> |
<%= link_to 'Back', asignar_departamento_usuarios_path %>
