<h3>Nueva Empresa
   <small>Agregar nueva empresa</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
  <div class="panel-heading">Datos de empresa</div>
   <div class="panel-body">
     <fieldset>
       <div class="form-group">
          <%= render 'form', company: @company %>
          
      </div>
    </fieldset>
  </div>
</div>
</div>
