<h3>USUARIOS
   <small>Agregar nuevo usuario</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
  <div class="panel-heading">Datos del usuario</div>
   <div class="panel-body">
     <fieldset>
       <div class="form-group">
          <%= render 'form', user: @user %>

      </div>
    </fieldset>
  </div>
</div>
</div>
