<h3>Editar categoria
   <small>Modificar categoria</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
  <div class="panel-heading">Datos de la categoria</div>
   <div class="panel-body">

      <%= render 'form', category: @category %>



  </div>
</div>
</div>
