<h3>Nueva categoria
   <small>Agregar nueva categoria</small>
</h3>
<!-- START panel-->
<div class="panel panel-default">
  <div class="panel-heading">Datos de la categoria</div>
   <div class="panel-body">
     <fieldset>
       <div class="form-group">
          <%= render 'form', category: @category %>

      </div>
    </fieldset>
  </div>
</div>
</div>
